.closeX {
  stroke: #131313;
  stroke-width: 10px;
  stroke-linejoin: round;
  width: 45px;
  height: 45px;
  fill: rgb(123, 123, 123);
  cursor: pointer;
}

.closeX:hover {
  fill: #eaa82d;
}

.editSVG {
  opacity: 1;
  fill: rgba(93, 127, 177, 0.7);
  cursor: pointer;
  margin-right: 20px;
  width: 23px;
}

.editSVG:hover {
  fill: rgb(93, 127, 177);
}

.deleteSVG {
  width: 20px;
  fill: rgba(177, 93, 93, 0.66);
  cursor: pointer;
}

.deleteSVG:hover {
  fill: rgb(177, 93, 93);
}
